:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #72512d;
  --red: red;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;

  src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;

  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}

.elem {
  background-color: #feba17;
  border-radius: 10px;
  height: 300px;
  width: 200px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
  cursor: pointer;
  box-sizing: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  font-weight: 500;
  font-size: 25px;
  bottom: 5%;
  right: 5%;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  padding: 40px;
  background-color: var(--sec);
  display: none;
  position: absolute;
}

.back {
  position: absolute;
  right: 5%;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: var(--red);
  font-weight: 500;
  font-size: 25px;
  border: none;
}

.back:hover {
  cursor: pointer;
}

.back:active {
  scale: 0.95;
}



.todo-list-fullpage h2 {
  font-size: 50px;
}

.todo-list-fullpage .todo-container {
  height: 83%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  height: 100%;
  width: 33%;
  background-color: var(--tri2);
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addTask form input#task-input {
  padding: 12px 24px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.todo-container .addTask form textarea {
  padding: 12px 24px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.todo-container .addTask form button {
  padding: 12px 24px;
  width: 100%;
  font-size: 25px;
  background-color: var(--tri1);
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
  scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask {
  height: 100%;
  width: 65%;
  background-color: var(--tri2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.todo-list-fullpage .todo-container .allTask::-webkit-scrollbar {
  display: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task h5 {
  color: var(--sec);
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.task h5 span {
  background-color: red;
  color: var(--pri);
  padding: 2px 8px;
  border-radius: 50px;
  font-size: 11px;
}
.task details {
  color: var(--sec);
  font-size: 18px;
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 25px;
  color: var(--pri);
  background-color: green;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.task button:active {
  scale: 0.95;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 9px 0px;
  margin-bottom: 10px;
}

.mark-imp input {
  width: 30px;
}
